In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path18 = "2018-19/vegas.csv"
path2 = "2018-19/raw_scores.csv"
vegas19_df = pd.read_csv(path18, encoding="utf-8")
scores19_df = pd.read_csv(path2, encoding="utf-8")
vegas19_df.head()

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Average_Line_OU,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total
0,2018-10-16,away,Philadelphia,Boston,1610612755,21800001,46.0,172.0,181.0,185.0,...,210.92,-106.17,212.0,208.5,-102.0,-110.0,87,-18,L,192
1,2018-10-16,home,Boston,Philadelphia,1610612738,21800001,54.0,-205.0,-202.0,-200.0,...,210.92,-108.83,212.0,208.5,-105.0,-115.0,105,18,W,192
2,2018-10-16,away,Oklahoma City,Golden State,1610612760,21800002,55.7,664.0,768.0,725.0,...,220.83,-108.33,223.5,220.0,-105.0,-115.0,100,-8,L,208
3,2018-10-16,home,Golden State,Oklahoma City,1610612744,21800002,44.3,-1000.0,-1002.0,-925.0,...,220.83,-106.67,223.5,220.0,-105.0,-110.0,108,8,W,208
4,2018-10-17,away,Milwaukee,Charlotte,1610612749,21800003,58.9,-130.0,-160.0,-155.0,...,221.08,-108.67,222.5,217.0,-104.0,-115.0,113,1,W,225

In [3]:
vegasred19_df = vegas19_df[["Team","Location", "TeamId", "GameId",
                        "PercentBet_Spread", "Average_Line_Spread", "Spread", "Result"]]
vegasred19_df

,Team,Location,TeamId,GameId,PercentBet_Spread,Average_Line_Spread,Spread,Result
0,Philadelphia,away,1610612755,21800001,45.1,4.70,-18,L
1,Boston,home,1610612738,21800001,54.9,-4.70,18,W
2,Oklahoma City,away,1610612760,21800002,42.4,12.50,-8,L
3,Golden State,home,1610612744,21800002,57.6,-12.50,8,W
4,Milwaukee,away,1610612749,21800003,58.6,-3.50,1,W
...,...,...,...,...,...,...,...,...
2447,Denver,home,1610612743,21801228,59.6,-12.67,4,W
2448,Utah,away,1610612762,21801229,39.7,7.33,-6,L
2449,L.A. Clippers,home,1610612746,21801229,60.3,-7.33,6,W
2450,Sacramento,away,1610612758,21801230,58.3,3.67,-5,L
2451,Portland,home,1610612757,21801230,41.7,-3.67,5,W

In [4]:
scores19_df.head()

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,2018-10-16,1,21800001,1610612755,PHI,Philadelphia,0-1,21,21,24,...,0,0,0,87,0.391,0.609,0.192,18,47,16
1,2018-10-16,1,21800001,1610612738,BOS,Boston,1-0,21,26,30,...,0,0,0,105,0.433,0.714,0.297,21,55,14
2,2018-10-16,2,21800002,1610612760,OKC,Oklahoma City,0-1,23,24,32,...,0,0,0,100,0.363,0.649,0.270,21,45,14
3,2018-10-16,2,21800002,1610612744,GSW,Golden State,1-0,31,26,26,...,0,0,0,108,0.442,0.944,0.269,28,58,21
4,2018-10-17,1,21800003,1610612749,MIL,Milwaukee,1-0,36,31,26,...,0,0,0,113,0.494,0.750,0.412,26,57,21

In [5]:
redscores19_df = scores19_df[["TEAM_CITY_NAME", "TEAM_ID", "GAME_ID", "PTS",]]
redscores19_df

     TEAM_CITY_NAME     TEAM_ID   GAME_ID  PTS
0      Philadelphia  1610612755  21800001   87
1            Boston  1610612738  21800001  105
2     Oklahoma City  1610612760  21800002  100
3      Golden State  1610612744  21800002  108
4         Milwaukee  1610612749  21800003  113
...             ...         ...       ...  ...
2455         Denver  1610612743  21801228   99
2456           Utah  1610612762  21801229  137
2457             LA  1610612746  21801229  143
2458     Sacramento  1610612758  21801230  131
2459       Portland  1610612757  21801230  136

[2460 rows x 4 columns]

In [6]:
scoresred19_df = redscores19_df.rename(columns={"TEAM_CITY_NAME":"Team", "TEAM_ID":"TeamId",
                                               "GAME_ID":"GameId", "PTS":"Pts"})
scoresred19_df

               Team      TeamId    GameId  Pts
0      Philadelphia  1610612755  21800001   87
1            Boston  1610612738  21800001  105
2     Oklahoma City  1610612760  21800002  100
3      Golden State  1610612744  21800002  108
4         Milwaukee  1610612749  21800003  113
...             ...         ...       ...  ...
2455         Denver  1610612743  21801228   99
2456           Utah  1610612762  21801229  137
2457             LA  1610612746  21801229  143
2458     Sacramento  1610612758  21801230  131
2459       Portland  1610612757  21801230  136

[2460 rows x 4 columns]

In [7]:
merge_df = pd.merge(vegasred19_df, scoresred19_df, on=["TeamId", "GameId"])
merge_df

,Team_x,Location,TeamId,GameId,PercentBet_Spread,Average_Line_Spread,Spread,Result,Team_y,Pts
0,Philadelphia,away,1610612755,21800001,45.1,4.70,-18,L,Philadelphia,87
1,Boston,home,1610612738,21800001,54.9,-4.70,18,W,Boston,105
2,Oklahoma City,away,1610612760,21800002,42.4,12.50,-8,L,Oklahoma City,100
3,Golden State,home,1610612744,21800002,57.6,-12.50,8,W,Golden State,108
4,Milwaukee,away,1610612749,21800003,58.6,-3.50,1,W,Milwaukee,113
...,...,...,...,...,...,...,...,...,...,...
2447,Denver,home,1610612743,21801228,59.6,-12.67,4,W,Denver,99
2448,Utah,away,1610612762,21801229,39.7,7.33,-6,L,Utah,137
2449,L.A. Clippers,home,1610612746,21801229,60.3,-7.33,6,W,LA,143
2450,Sacramento,away,1610612758,21801230,58.3,3.67,-5,L,Sacramento,131
2451,Portland,home,1610612757,21801230,41.7,-3.67,5,W,Portland,136

In [8]:
grouped_df = vegasred19_df.groupby(['GameId'])
print(grouped_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000025CB6FBB148>

In [9]:
grouped_df.count().head()

,Team,Location,TeamId,PercentBet_Spread,Average_Line_Spread,Spread,Result
GameId,,,,,,,
21800001,2,2,2,2,2,2,2
21800002,2,2,2,2,2,2,2
21800003,2,2,2,2,2,2,2
21800004,2,2,2,2,2,2,2
21800005,2,2,2,2,2,2,2

In [10]:
hawks_df = vegasred19_df.loc[vegasred19_df["Team"] == "Atlanta"]
hawks_df

,Team,Location,TeamId,GameId,PercentBet_Spread,Average_Line_Spread,Spread,Result
12,Atlanta,away,1610612737,21800007,13.3,3.60,-19,L
38,Atlanta,away,1610612737,21800020,47.5,6.83,-14,L
70,Atlanta,away,1610612737,21800036,45.8,7.83,22,W
103,Atlanta,home,1610612737,21800052,43.3,2.10,7,W
151,Atlanta,home,1610612737,21800076,53.9,-5.67,-12,L
...,...,...,...,...,...,...,...,...
2314,Atlanta,away,1610612737,21801162,45.9,10.92,-6,L
2327,Atlanta,home,1610612737,21801168,50.9,4.33,8,W
2352,Atlanta,away,1610612737,21801181,46.9,8.75,-36,L
2394,Atlanta,away,1610612737,21801202,43.8,11.33,-8,L
2431,Atlanta,home,1610612737,21801220,65.1,-5.25,-1,L

In [11]:
comp_df = merge_df[["Team_x", "Location", "TeamId", "GameId", "PercentBet_Spread", "Average_Line_Spread", "Spread", "Result", "Pts"]]
comp_df

,Team_x,Location,TeamId,GameId,PercentBet_Spread,Average_Line_Spread,Spread,Result,Pts
0,Philadelphia,away,1610612755,21800001,45.1,4.70,-18,L,87
1,Boston,home,1610612738,21800001,54.9,-4.70,18,W,105
2,Oklahoma City,away,1610612760,21800002,42.4,12.50,-8,L,100
3,Golden State,home,1610612744,21800002,57.6,-12.50,8,W,108
4,Milwaukee,away,1610612749,21800003,58.6,-3.50,1,W,113
...,...,...,...,...,...,...,...,...,...
2447,Denver,home,1610612743,21801228,59.6,-12.67,4,W,99
2448,Utah,away,1610612762,21801229,39.7,7.33,-6,L,137
2449,L.A. Clippers,home,1610612746,21801229,60.3,-7.33,6,W,143
2450,Sacramento,away,1610612758,21801230,58.3,3.67,-5,L,131
2451,Portland,home,1610612757,21801230,41.7,-3.67,5,W,136

In [12]:
final_df = comp_df.rename(columns= {"Team_x":"Team",
                                    "Location": "Location",
                                   "TeamId":"Team Id",
                                   "GameId":"Game Id",
                                   "PercentBet_Spread":"% Bet",
                                   "Average_Line_Spread": "Avg Spread",
                                   "Spread": "Actual Spread",
                                   "Result":"Result",
                                   "Pts": "Pts"})
final_df

,Team,Location,Team Id,Game Id,% Bet,Avg Spread,Actual Spread,Result,Pts
0,Philadelphia,away,1610612755,21800001,45.1,4.70,-18,L,87
1,Boston,home,1610612738,21800001,54.9,-4.70,18,W,105
2,Oklahoma City,away,1610612760,21800002,42.4,12.50,-8,L,100
3,Golden State,home,1610612744,21800002,57.6,-12.50,8,W,108
4,Milwaukee,away,1610612749,21800003,58.6,-3.50,1,W,113
...,...,...,...,...,...,...,...,...,...
2447,Denver,home,1610612743,21801228,59.6,-12.67,4,W,99
2448,Utah,away,1610612762,21801229,39.7,7.33,-6,L,137
2449,L.A. Clippers,home,1610612746,21801229,60.3,-7.33,6,W,143
2450,Sacramento,away,1610612758,21801230,58.3,3.67,-5,L,131
2451,Portland,home,1610612757,21801230,41.7,-3.67,5,W,136

In [13]:
Utah_df = final_df.loc[final_df["Team"] == "Utah"]
Utah_df

,Team,Location,Team Id,Game Id,% Bet,Avg Spread,Actual Spread,Result,Pts
20,Utah,away,1610612762,21800011,55.6,-8.60,6,W,123
47,Utah,home,1610612762,21800024,44.4,2.50,-1,L,123
89,Utah,home,1610612762,21800045,56.8,-10.25,-8,L,84
112,Utah,away,1610612762,21800057,40.0,1.10,11,W,100
148,Utah,away,1610612762,21800075,40.0,-5.00,21,W,132
...,...,...,...,...,...,...,...,...,...
2338,Utah,away,1610612762,21801174,58.7,-10.67,21,W,118
2367,Utah,home,1610612762,21801188,58.6,-10.08,21,W,119
2406,Utah,away,1610612762,21801208,59.4,-11.92,-4,L,109
2425,Utah,home,1610612762,21801217,50.1,-2.08,10,W,118
2448,Utah,away,1610612762,21801229,39.7,7.33,-6,L,137